[submodule "Assets/Plugins/Tri-Inspector"]
	path = Assets/Plugins/Tri-Inspector
	url = https://github.com/codewriter-packages/Tri-Inspector
[submodule "Assets/Plugins/AnimFlex"]
	path = Assets/Plugins/AnimFlex
	url = https://github.com/somedeveloper00/AnimFlex
[submodule "Assets/Plugins/BlockyMapGen"]
	path = Assets/Plugins/BlockyMapGen
	url = https://github.com/somedeveloper00/BlockyMapGen
[submodule "Assets/Plugins/UnityDialogueSystem"]
	path = Assets/Plugins/UnityDialogueSystem
	url = https://github.com/somedeveloper00/UnityDialogueSystem
[submodule "Assets/Plugins/UnityIngameDebugConsole"]
	path = Assets/Plugins/UnityIngameDebugConsole
	url = https://github.com/yasirkula/UnityIngameDebugConsole
